#secondary {
  flex-basis: 30%;
  flex-grow: 1;

  section {
    border-top: 2px solid color($gray, 200);
    padding: $spacer*0.5 0 $spacer;
    line-height: 1.3em;
    font-size: 0.85em;
  }

  ul {
    list-style-type: none;

    text-indent: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1em;
    margin: 0;
  }

  h2 {
    font-size: 0.85em;
    font-weight: 500;
    color: color($gray, 400);
    text-transform: uppercase;
  }
}

address {
  font-style: normal;
  margin-top: $spacer;

  label {
    // display: none;
  }
}
