
*.log
*.DS_Store
data/
db_data/
node_modules/


wp-content/index.php
wp-content/languages/*
wp-content/mu-plugins/*
wp-content/plugins/*
wp-content/uploads/*
wp-content/upgrade/*
wp-content/themes/*
!wp-content/themes/edutheme



*.sql
