

#masthead {
  .box {
    padding-bottom: $spacer*1.5;
  }

  .box:first-child {
    padding-top: $spacer*2;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    margin: 0;
    flex-basis: 70%;
    flex-grow: 3;
  }

  aside {
    flex-basis: 30%;
    flex-grow: 1;
  }
}


#masthead--large {
  margin: 0 auto 0;
  padding: 0 $spacer;
  max-width: 1020px;
  height: 65vh;
  background-color: color($brand, 300);
  background-image: url('https://schule-am-hafen.eu/wp-content/uploads/2019/01/DSC02466.jpeg');
  // background-image: url('https://images.unsplash.com/photo-1538565773234-30befcc812c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-size: cover;
  background-position: left bottom;
  filter: brightness(90%) saturate(100%);

  h1 {
    margin: 0;
    padding: $spacer;
  }
  .masthead-logo {
    background-image: url(img/Stadtteilschule-am-Hafen-Logo--white-transparent.svg);
  }

}

.masthead-logo {
  margin-left: $spacer*0.25;
  margin-bottom: $spacer*0.5;
  display: block;
  height: 85px;
  width: 300px;
  text-indent: -3000px;
  overflow: hidden;
  background-image: url(img/Stadtteilschule-am-Hafen-Logo--color-transparent.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.widget_search {
  font-size: 0.8em;
}

.main-navigation {
  display: block;
  width: 100%;
  border-color: color($brand, 300);
  border-width: 2px;
  border-style: solid;
  border-left: none;
  border-right: none;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
  }

  li {
    margin-right: $spacer*0.5;
  }

  a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0 $spacer*0.5;
  }

  a:hover,
  .current-menu-item > a,
  .current-menu-parent > a {
    color: $color-green-2;
    text-decoration: underline;
  }
}

ul.sub-menu {
  display: none;
  position: absolute;
  background: white;
  border: 2px solid $color-green-1;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);

  a {
    // text-transform: capitalize;
    text-transform: none;
  }
}

.menu-item:hover {
  ul.sub-menu {
    display: block;
  }
}

.breadcrumbs {
  padding-left: 8px;
  // border-top: 2px solid $color-lightest;
  font-size: 0.7em;

  a {
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@include respond-up-to('md') {
  .main-navigation {
    li {
      margin-right: 0;
    }
  }
}

@include respond-up-to('sm') {
  .main-navigation {
    border: none;

    div > ul {
      display: block;
    }
  }

  .breadcrumbs {
    display: none;
  }

  #masthead {
    aside {
      display: none;
    }
  }
}
